body {
  font-family: "Raleway", sans-serif;
  padding-left: 15%;
  padding-right: 15%;
  background-image: url(blackboard.jpg);
  color: white;
}
#control-section {
  font-style: italic;
}

#view-section {
  min-height: 100px;
}
#todo-index {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px;
}
#todo-index > div {
  height: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}
.todo-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px;
}
.todo-container:hover {
  background-color: rgba(255, 255, 255, 0.068);
  font-weight: bold;
}
.todo-container > div {
  height: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
  text-align: center;
  vertical-align: bottom;
}

.todo-priority {
  width: 50px !important;
}
.todo-created-at {
  white-space: nowrap;
  height: auto;
  min-width: 200px;
  max-width: 400px;
  display: inline-block;
}

#control-section {
  text-align: center;
}

.taskCheck {
  position: absolute;
  bottom: 4px;
  left: -20px;
}

#delete-section {
  text-align: center;
}

button {
  background-color: unset;
  font-family: "Raleway", sans-serif;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 13px 32px;
  text-decoration: none;
  margin: 3px;
}
button:hover {
  border: rgb(128, 128, 128);
  border-radius: 8px;
  font-size: 1em;
  font-weight: bolder;
}

#text-input {
  font-family: inherit;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: white;
}

p {
  font-size: small;
  color: rgba(255, 255, 255, 0.836);
}

p:hover {
  font-weight: bold;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  left: 40%;
  top: 30%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
