body {
  font-family: "Raleway", sans-serif;
  padding-left: 15%;
  padding-right: 15%;
  background-image: url(./images/blackboard.jpg);
  color: white;
}
#control-section {
  font-style: italic;
}
#loading-section {
  position: relative;
}
#loading {
  position: relative;
  left: 45%;
  height: 100px;
  width: auto;
}
#need-to-do {
  color: white;
}

#view-section {
  min-height: 100px;
}
#todo-index {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px;
}
#todo-index > div {
  height: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}
.todo-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px;
  z-index: 100;
}
.todo-container:hover {
  background-color: rgba(255, 255, 255, 0.068);
  font-weight: bold;
}
.todo-container > div {
  height: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
  text-align: center;
  vertical-align: bottom;
}

.todo-priority {
  width: 50px !important;
}
.todo-created-at {
  white-space: nowrap;
  height: auto;
  min-width: 200px;
  max-width: 400px;
  display: inline-block;
}

#control-section {
  text-align: center;
}

.taskCheck {
  position: absolute;
  bottom: 4px;
  left: -20px;
}

#delete-section {
  text-align: center;
}

button {
  background-color: unset;
  font-family: "Raleway", sans-serif;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 13px 32px;
  text-decoration: none;
  margin: 3px;
}
button:hover {
  border: rgb(128, 128, 128);
  border-radius: 8px;
  font-size: 1em;
  font-weight: bolder;
}

#text-input {
  font-family: inherit;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: white;
}

p {
  font-size: small;
  color: rgba(255, 255, 255, 0.836);
}

p:hover {
  font-weight: bold;
}

#priority-selector {
  background-color: unset;
  color: white;
}

option {
  background-color: rgba(63, 63, 63, 0.479);
  color: white;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.226);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
