body {
  font-family: "Raleway", sans-serif;
  padding-left: 15%;
  padding-right: 15%;
}
.todo-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px;
}
.todo-container > div {
  height: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
}

#control-section {
  text-align: center;
}

.taskCheck {
  position: absolute;
  bottom: 4px;
  left: -20px;
}

.top-priority {
  background-color: rgb(255, 125, 125);
}

.second-priority {
  background-color: rgb(255, 162, 125);
}

.third-priority {
  background-color: rgb(255, 199, 125);
}

.fourth-priority {
  background-color: rgb(216, 255, 125);
}

.fifth-priority {
  background-color: rgb(125, 255, 136);
}

#delete-section {
  position: absolute;
  bottom: 100px;
  left: 50%;
  text-align: center;
}
